<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Code Tips</title>
    <link rel="shortcut icon" href="/img/digital-rain.png">
</head>
<body>
    <nav id="navbar">
        <a href="/" id="logo">
            <img src="/img/digital-rain.png" alt="Logo">
        </a>
        <ul>
            <li><a href="/">Tips</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Registrar</a></li>
        </ul>
    </nav>

    <div class="container">
            {{{ body }}}
    </div>
    <footer>
        <p><span>Code Tips</span> &copy; 2022</p>
    </footer>
</body>
</html>