@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

#navbar{
    padding: 1.2em 1.4em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
}

#navbar ul{
    display: flex;
    list-style: none;   
}

#navbar ul li{
    margin-left: 1em;
}

#logo a {
    width: 50%;
}

#navbar ul li a{
    text-decoration: none;
    transition: 0.5s;
}

#navbar ul li a:hover{
    color: #42C920;
}

.container{
    min-height: 60vh;
    padding: 2em;
}

footer{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login e Register*/

.auth-container{
    max-width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.auth-container h2{
    margin-bottom: 1em;
    color: #fff;
    width: 100px;
    
}

.auth-container a{
    color: #42C920;
}

.form-control{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-control label{
    margin-bottom: 0.5em;
}

.form-control input,
.form-control textarea{
    padding: 7px;
    border-radius: 10px;
}
form input[type = 'submit'],
.btn{
    background: transparent;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 1em;
    color: #fff;
    border-radius: 5px;
    border-color: #42C920;
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: 5px;
    text-decoration: none;
    transition: .5s;
}

form input[type = 'submit']:hover,
.btn:hover {
    background: #42C920;
    color: #000;
    font-weight: bold;
}