<div class="tips-form-container">
    <a href="/tips/dashboard">Voltar</a>
    <h1>Tip</h1>
    <form action="/tips/add" method="POST">
        <div class="form-control">
            <label for="title">Título</label>
            <input type="text" name="title" placeholder="Título da dica">

            <label for="tec"></label>
            <input type="text" name="tec" placeholder="Tecnologia">

            <label for="content"></label>
            <input type="text" name="content" placeholder="Digite sua dica">
        </div>
        <input type="submit" value="Criar">
    </form>
</div>                                                                                                                  